# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Node
redis-session-demo-master/node_modules/

# Docker
*.log

# Karpenter
karpenter/karpenter.yaml
